body {
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

p,
h1 {
  font-family: "Roboto", "courier new", sans-serif;
  text-align: center;
  color: white;
}

.bio {
  font-size: 18px;
  margin: 10px;
}

#hello1,
#hello2 {
  font-size: 50px;
  margin: 5px;
}

#main {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 650px;
  height: 325px;
  margin-left: -325px;
  margin-top: -162.5px;
}

a {
  text-decoration: none;
  color: #03a9f4;
}

#hello1,
#hello2,
#body-header {
  opacity: 0;
}

#gender {
  background: #ffa8d4;
}
