@media (max-width: 481px) {
    .demo-1 .large-header {
        background: #37474F !important;
    }
    .bio {
        padding-left: 150px !important;
        padding-right: 150px !important;
    }
    #hello1,
    #hello2 {
        padding-left: 50px !imporant;
        padding-right: 50px !imporant;
    }
}

.demo-1 .large-header {
    background: url('../img/bg.png');
}

body {
    margin: 0;
}

p,
h1 {
    font-family: 'Overpass', 'courier new', sans-serif;
    text-align: center;
    color: white;
    overflow: hidden;
}

.bio {
    font-size: 18px;
    margin: 10px;
}

#hello1,
#hello2 {
    font-size: 50px;
    margin: 5px;
}

#main {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 650px;
    height: 325px;
    margin-left: -325px;
    margin-top: -162.5px;
}

a {
    text-decoration: none;
    color: #03A9F4;
}

#hello1,
#hello2,
#body-header {
    opacity: 0;
}
