/* COLOUR REFERENCES

COLOR:          #XXXXXX    LITE:    #XXXXXX    DARK:    #XXXXXX

light-blue:		#03a9f4             #67daff             #007ac1    #002f6c
deep-purple:	#673ab7             #9a67ea             #320b86    #000063
pink:			#e91e63             #ff6090             #b0003a    #560027
orange:			#ff9800             #ffc947             #c66900    #ac1900
green:			#8bc34a             #bef67a             #5a9216    #003d00

*/


/* ==== GENERAL ==== */

body {
    padding-top: 50px;
    font-family: 'Amaranth', 'Roboto', sans-serif;
    font-size: 16px;
}


/* ==== GLOBAL ==== */

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-weight: bold;
}

h1 {
    font-size: 3em;
    padding: 10px 0 15px;

}

h2 {
    font-size: 2em;
    padding: 10px 0 15px;
}

h3 {
    padding-bottom: 15px;
}

button, input, .btn, a.btn {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	color: white;
}

.btn {
	font-weight: bold;
}

.btn:focus {
	outline: none;
}

.badge.social {
	background: #ccc;
	font-size: 24px;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 42px;
	margin: 0 5px 20px 0;
	padding: 0;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	color: white;
}

.badge.social.twitter:hover {
	background: #55acee;
}

.badge.social.facebook:hover {
	background: #3b5998;
}

.badge.social.gplus:hover {
	background: #db4b39;
}

/* ==== BIG DISPLAY ==== */

#intro-text {
    text-align: center;
    font-size: 6em;
    text-shadow: 1px 1px 3px #002f6c;
    padding: 25px 0 25px;
    color: white;
}

#intro-subtext {
    text-align: center;
    font-size: 2em;
    text-shadow: 1px 1px 3px #002f6c;
    color: white;
}

#big-display {
    background: url('../img/jumbotron-image.jpg') 50% 0% repeat fixed;
    -webkit-filter: grayscale(15%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(15%);
    min-height: 500px;
    position: relative;
    width: 100%;
    padding: 50px 0;
    color: white;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

.social-media-badges {
    text-align: center;
    padding-top: 15px;
}

/* ==== JOIN US ==== */

#join-us {
	background: #007ac1;
	padding: 20px;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-size: 1.2em;
}

#join-us p {
	margin: 7px 0 0 0;
}


/* ==== WHAT WE'RE ABOUT ==== */

#what-were-about {
    background: url('../img/texture.jpg') 50% 0% repeat fixed;
    text-align: center;
    padding: 25px 0 25px 0;
}


/* ==== PROGRAMS AND SERVICES ==== */

#programs-and-services {
    background: url('../img/services-bg.jpg') 0% 50% repeat fixed;
    text-align: center;
    padding: 25px 0 25px 0;
    color: white;
}


/* ==== EVENTS === */

#our-events {
    text-align: center;
    padding: 25px 0 25px 0;
}

.events-thumbnails {
    width: 100%;
    height: 100%;
}

.events-rows {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
}

.events-titles {
    text-align: center;
}

/* ==== TESTIMONIALS ==== */

#what-people-say-about-us {
    padding: 25px 0 25px;
	text-align: center;
    background: url('../img/texture.jpg') 50% 0% repeat fixed;
}

.testimonial {
	margin-bottom: 60px;
}

.testimonial img {
	border-radius: 50%;
}

/* ==== SPONSORS ==== */

#our-generous-sponsors {
    color: white;
    background: url("../img/sponsors-bg.png") 40% 40% fixed;
    text-align: center;
    padding: 25px 0 25px;
    height: 5000px;
}

.sponsors-box {
    padding: 50px;
}

/* ==== FOOTER ==== */

footer {
	background: #f8f8f8;
    color: #333;
    padding: 10px 0 10px;
	font-size: 12px;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
}

#footer-logo{
    height: 15%;
    width: 15%;
}

.footer-text {
    padding-top: 20px;
}
