.navbar-default .navbar-nav>.active {
    color: #fff;
    background: #673ab7;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background: #673ab7;
}

#nav-home a:hover {
    background: #03a9f4;
    color: #fff;
}

#nav-services a:hover {
    background: #e91e63;
    color: #fff;
}

#nav-events a:hover {
    background: #ff9800;
    color: #fff;
}

#nav-contact a:hover {
    background: #8bc34a;
    color: #fff;
}

.navbar-brand {
    margin-top: -13px;
}
