/* ===== GLOBAL ===== */

body {
    margin-top: -50px;
    padding-top: 50px;
}

section {
    padding: 50px 0 50px;
    text-align: center;
}

.btn {
    margin-right: 12.5px;
    margin-left: 12.5px;
}

/* ===== HOME ===== */

#home-section {
    background: url('../img/traffic-bg.jpg') 50% 0%, linear-gradient(rgba(68,138,255, 0.33),rgba(76,175,80, 0.33)) fixed;
    background-blend-mode: overlay;
    /*-webkit-filter: grayscale(15%);*/
    /* Safari 6.0 - 9.0 */
    /*filter: grayscale(15%);*/
    min-height: 500px;
    position: relative;
    width: 100%;
    color: white;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    text-align: center;
}

#intro-text{
    padding-top: 50px;
    font-size: 7em;
    text-shadow: #3e3e3e 2px 2px;
}

#intro-slogan{
    font-size: 3.5em;
    text-shadow: #3e3e3e 2px 2px;
    padding-bottom: 25px;
}

/* ===== ABOUT ===== */

#about-section {
    background: url('../img/texture.jpg') 50% 0% repeat fixed;
}

/* ===== NEWS ===== */

#news-section {
    background-color: #4caf50;
}

/* ===== CROWDSALE ===== */

#crowdsale-section {
    background-color: #448aff;
}

/* ===== TEAM ===== */

.testimonial {
    margin-bottom: 60px;
}

.testimonial img {
    border-radius: 50%;
}

#team-section {
    background: url('../img/texture.jpg') 50% 0% repeat fixed;
}